<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logic Pattern PRG Done</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
    <h2>제출이 완료 되었습니다.</h2>
</body>
<script>
    location.replace('/tmpl/logic/pattern/prg/index');
</script>
</html>